{{!-- <h3><a class="btn btn-secondary" href="/verify"><i class="fa fa-plus"></i> Add New</a> Public Key</h3> --}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Public Key</th>
            <th>Balance</th>
            <th>Difference</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            {{!-- <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> {{this.account}}</button> --}}
        
            <td><a href="/account?pubKey={{this.account}}">{{this.account}}</a></td>
             <td>{{this.balance}}</td>
             <td>{{this.difference}}</td>
             
        </tr>
        {{/each}}
    </tbody>
</table>